doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    meta(name='description' id='mdescription' content='Especialistas en Gimnasia Artística Femenina, Gimnasio de gimnasia, gimnasio para niñas')
    meta(name='keywords' id="mkeywords" content="Gimnasio Internacional, Gimnasio, Gimnasio para niñas, Gimnasio en San Carlos ")
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
    link(rel='shortcut icon' type='image/png' href='/images/img/favicon.ico')
    // Custom styles for this template
    link(href='stylesheets/one-page-wonder.min.css' rel='stylesheet')
    link(rel="stylesheet", href="stylesheets/styles.css")
    link(rel="stylesheet", href="stylesheets/main.css")
    link(rel="stylesheet", href="stylesheets/font.css")
    
    


    
  body
    
    block content
